{% if paginator.totalPageCount > 1 %}
    {% block kit_grid_paginator %}
        <nav>
            <ul class="pagination">
                {% if paginator.previousButtonPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ paginator.getUrl("currentPage",paginator.previousButtonPage) }}"
                           title="previous">&laquo;</a>
                    </li>
                {% endif %}

                {% for page in paginator.pageRange %}
                    {% if page != paginator.currentPage %}
                        <li class="page-item">
                            <a class="page-link" href="{{ paginator.getUrl("currentPage",page) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item active"><a href="#" class="page-link">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.nextButtonPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ paginator.getUrl("currentPage",paginator.nextButtonPage) }}"
                           title="next">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endblock kit_grid_paginator %}
{% endif %}
